<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Thoughtbox</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GRated.styles.css" asp-append-version="true" />
</head>
<body class="bg-black">
    <header class="border-bottom p-3 bg-gray-900">
        <div class="container text-center">
            <img class="h-50 w-50" src="~/images/logo.png" />
        </div>
        <div class="container-fluid pt-3">
             <ul class="nav flex-grow-1 justify-content-center">
                 <li class="nav-item">
                   <a class="nav-link text-light zoom" href="#"><i class="fas fa-film"></i> Movies</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link text-light zoom" href="#"><i class="fas fa-tv"></i> TV-Shows</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link text-light zoom" href="#"><i class="fas fa-gamepad"></i> Games</a>
                 </li>
             </ul>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3 pt-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; Thoughtbox - @DateTime.Now.Year.ToString()
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
