html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.zoom:hover {
    transform: scale(1.1);
}

.bg-gray-900 {
    background-color: #121212;
}

.bg-black {
    background-color: black;
}